@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  overflow-y: hidden;
}

@layer utilities {
  @keyframes expand {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-expand {
    animation: expand 0.4s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .animate-fadeOut {
    animation: fadeOut 0.3s ease-out forwards;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* Custom Popup Styles */
.custom-popup .leaflet-popup-content-wrapper {
  background: white;
  border-radius: 16px;
  padding: 0;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-popup .leaflet-popup-content {
  margin-right: 3px !important;
  margin-left: 10px !important;
  padding-left: 5px !important;
  ;
  width: auto !important;
}